 *{
    outline:1px solid red;
} 

/* font-family: 'Comforter Brush', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

/* font-family: 'Caveat', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

/* header */
.indexContainer{
    width: 100%;
    height: 100vh;
    // overflow: hidden;
}

.headerLine{
    height: 10%;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

.websiteTitle{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    width:95%;
    padding: 0 0 0 3%;
}

.websiteTitleWord:link,.websiteTitleWord:visited{
    color: black;
    text-decoration: none;
}

.hambergerMenu{
    width: 2.5%;
    font-size: 3rem;
    padding-right: 3%;
    display: flex;
    justify-content: end;
    cursor: pointer;
}

.hikingIcon{
    width: 2.5%;
    font-size: 2.7rem;
    padding-right: 1%;
    display: flex;
    justify-content: end;
    cursor: pointer;
}

/* maincontainer */
.mainContent{
    width: 100%;
    height: 90%;
    display: flex;
}

// 個別方格
.journalUnit{
    width: 25%;
    border-right:1px solid #ccc ;
}

/* upperContent */
.upperContent{
    width: 100%;
    height: 45%;
    position: relative;
    overflow: hidden;
}

.upperContentUnit{
    width: 100%;
    height: 100%;
    background-size: contain;
    position: relative;
    overflow:hidden;
    border-right: 1px solid rgba(204, 204, 204, 0.5);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 500px;
    transition: 0.6s;
}

/*上方圖片動畫*/
.journalUnit:hover .upperContentUnit{
    background-color: #111;
    top: 0px;
}

/* bottomContent */
.bottomContent{
    width: 100%;
    height: 45%;
    position: relative;
    overflow: hidden;
}

.bottomContentUnit{
    width: 100%;
    height: 100%;
    background-size: contain;
    position: relative;
    overflow:hidden;
    border-right: 1px solid rgba(204, 204, 204, 0.5);
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 500px;
    transition: 0.6s;
}

/* 下方動畫 */
.journalUnit:hover .bottomContentUnit{
    bottom: 0px;
}

/* middleTitle */
.middlebackground{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    text-decoration:none;
    cursor:pointer;
}


